.Nav {
  background-color: black;
  padding: 20px 0px;
  margin-bottom: 40px;
}

.active-link {
  color: red;
}
.App-nav {
  width: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: grey;
}
